
$font:'Press Start 2P', cursive ;

#navTitle {
  font-size: 2.3em;
  text-align: center;
}

header{
  color: #039BE5;
}

#home{
  margin-left: 20px;
}

#home:hover{
  color:grey;
}

body {
  font-family: $font;
  // background-image: url("background.png");
  background-color: black;
  animation: fadeIn 2s;
}

.card{
  margin-top: 3.8em;
  padding-top: 2em;
}

.card .card-title {
  font-size: 1em;
}

.shiny {
  width: 80px;
  height: 275px;
}

#shiny-mode{
  text-align: center;
  color: yellow;
  font-size: 22px;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
