
$font:'Press Start 2P', cursive ;
#navTitle {
  font-size: 2.3em;
  text-align: center;
}

body {
  font-family: $font;
  background-image: url("background.png");
}

.card{
  padding-top: 5.5em;
}

.card .card-title {
  font-size: 1em;
}
